#============================================================
#                       User Section
#============================================================



#============================================================
#                   Sublime Text Section
#============================================================

*.sublime-workspace
*.wlf
transcript

#============================================================
#                      Folder Section
#============================================================

build
work

#============================================================
#                    Extensions Section
#============================================================

